*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-gradient:linear-gradient(135deg, #ebebeb, #848484);
}

body{
    height: 100vh;
    width: 100vw;
    background: var(--background-gradient);
    overflow: hidden;
}

.Clock{
    display: flex;
    height: 100%;
    justify-content: center;
    transform: translateY(40%);
    gap: 30px;
}

.Colon{
    font-size: 33px;
    transform: translateY(-4px);
}

.Vertical-Bar{
    height: 0px;
}

.Highlight-Circle{
    height: 40px;
    width: 50px;
    background-color: #40404058;
    position: absolute;
    border-radius: 50px;
    z-index: 10;
}

.Track{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50px;
    align-items: center;
    transform: translateY(-2px);
    background: linear-gradient(135deg, #ebebeb, #878787);
    border-radius: 10px;
    transition: transform 0.7s ease-out;
    box-shadow: -2px -1px 3px 3px rgb(255, 255, 255), 2px 1px 3px 3px black;
}

.Digit{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 33px;
    height: 40px;
}

#Meridian{
    font-size: 30px;
    transform: translateX(-20px);
}