*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-gradient: linear-gradient(to bottom, rgb(212, 133, 249), #e6ecf8);;
}

body{
    height: 100vh;
    width: 100vw;
    background: var(--background-gradient);
    overflow: hidden;
}

.Clock{
    display: flex;
    height: 100%;
    justify-content: center;
    transform: translateY(40%);
    gap: 30px;
}

.Colon{
    font-size: 33px;
    transform: translateY(-4px);
}

.Vertical-Bar{
    height: 0px;
}

.Highlight-Circle{
    height: 35px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.473);
    position: absolute;
    border-radius: 50px;
    z-index: 10;
}

.Track{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50px;
    align-items: center;
    transform: translateY(-2px);
    background-color: rgb(188, 218, 244);
    border-radius: 15px;
    transition: transform 0.7s ease-out;
    box-shadow: -2px -1px 1px 1px rgb(42, 42, 42);
}

.Digit{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 33px;
    height: 40px;
}

#Meridian{
    font-size: 30px;
    transform: translateX(-20px);
}